<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>

  </head>
  <body>
    <div class="page-header">
      <h1>My Site</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'userpost_list' %}">posts</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>

      <div>
        {% if user.is_authenticated %}
          <a href="{% url 'userpost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </div>
    </div>

    <div class="content-container">
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>

  </body>
</html>
