{% extends 'userblog/base.html' %}
{% block content %}

  <!--this is used to give security for our post for authenticated users-->
  {% if user.is_authenticated %}
    <!--Linked to a page with the form to enable publish new posts-->
      <a href="{% url 'userpost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
  {% endif %}
      <!--Trying to check permissions with the below line for different categ-->

          {% for post in posts %}
              <div class="posts">
                <div class="date">
                  <p>published: {{ post.published_date }}</p>
                </div>

                <h1><a href="{% url 'userpost_detail' pk=post.pk %}">{{ post.title }}</a></h1>

                <p>{{ post.text|linebreaksbr }}</p>

              </div>
          {% endfor %}

{% endblock %}
